extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | melissaAPI was created by Carlos EA. Batista (Cardu) to you understand a REST API example. 
