extends layout

block content
  #banner.page-header
    .row
      .col-xs-12.col-sm-6
        h1
          small &nbsp;Have Fun!

  .container
      .row
        .col-sm-6
          form.form-horizontal(action="/users", method="post", role="form")
            .form-group
              label.col-xs-6.col-sm-2.control-label(for="firstName") First Name
              .col-xs-6.col-sm-6
                input#firstName.form-control(name="firstName")
            .form-group
              label.col-xs-6.col-sm-2.control-label(for="lastName") Last Name
              .col-xs-6.col-sm-6
                input#lastName.form-control(name="lastName")
            .form-group
              label.col-xs-6.col-sm-2.control-label(for="email") Email
              .col-xs-6.col-sm-6
                input#email.form-control(name="email")
            .form-group
              label.col-xs-6.col-sm-2.control-label(for="personalPhone") Phone
              .col-xs-6.col-sm-6
                input#personalPhone.form-control(name="personalPhone")
            label.col-xs-6.col-sm-8
              button.btn.btn-default.pull-right Create New User
